.bg-imagem-fundo{
	background-image: url("../../content/imagens/fundo_vereador.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
.bg-png-shadow-white{
	-webkit-filter: drop-shadow(1px 1px 3px white);
	filter: drop-shadow(1px 1px 3px white);
}